# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
/lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# Virtual Environment
.venv/

# scripts
scripts/

# LLM
LLM/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.pem

# python test
.coverage
htmlcov/
*.pyc
__pycache__/

# claude
.claude/

# Frontend
## dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/.yarn/patches
frontend/.yarn/plugins
frontend/.yarn/releases
frontend/.yarn/versions

## testing
frontend/coverage

# Playwright
frontend/playwright-report/
frontend/test-results/

## next.js
frontend/.next/
frontend/out/

## production
frontend/build


## debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

## env files 
.env*

## env files (can opt-in for committing if needed)
frontend/.env*

## vercel
frontend/.vercel

## typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
